services:
  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: 'Password123'
      ACCEPT_EULA: 'Y'
    ports:
      - '1434:1433'
    volumes:
      - sql-data:/var/opt/mssql
  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
        
volumes:
  redis-data:
  sql-data: